@import "/src/Assets/Styles/global.scss";


.list-icons{
    list-style: none;
}

.aside-other{
    margin-top: 1rem;
    margin-bottom: .5rem;
}

.aside-icons{
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.aside-tags{
    width:  240px;
    height: 360px;
    overflow-y: scroll; 
}