@import "../../../Assets/Styles/global.scss";

.btn-create{
    box-sizing: border-box;
    height: 45px;
    white-space: nowrap;
    margin: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: $accent-brand;
    border-radius: 5px;
    border:none;    
    color:$base-10;
    text-align: center;
    text-decoration: none;
    &:hover{
        color:$base-10;
        background-color: $accent-brand-darker;
        text-decoration: none;
        cursor: pointer;
    }
}