@import "../../../Assets/Styles/global.scss";

.btn-login{
    height: 45px;
    white-space: nowrap;
    margin: 5px;
    padding: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    background-color: $base-inverted;
    border-radius: 5px;
    border:none;    
    color:$accent-brand;
    text-align: center;
    text-decoration: none;
    &:hover{
        background-color: $base-10;
        color:$accent-brand-darker;
        cursor: pointer;
        text-decoration: none;
    }
}