.list-group-item custom{
  boxSizing: border-box;
  padding: 0.75rem 1.25rem;
  border: 1px solid rgba(0, 0, 0, 0.125);
  position: relative;
  display: block;
  backgroundColor: rgb(255, 255, 255);
  borderWidth: 0px 0px 1px;
  borderTopWidth: 0px;
}