$base:#090909;
$base-a90:rgba(9,9,9,0.9);
$base-a80:rgba(9,9,9,0.8);
$base-a70:rgba(9,9,9,0.7);
$base-a60:rgba(9,9,9,0.6);
$base-a50:rgba(9,9,9,0.5);
$base-a40:rgba(9,9,9,0.4);
$base-a30:rgba(9,9,9,0.3);
$base-a20:rgba(9,9,9,0.2);
$base-a10:rgba(9,9,9,0.1);
$base-a5:rgba(9,9,9,0.05);
$base-100:var($base);
$base-90:#242424;
$base-80:#3d3d3d;
$base-70:#575757;
$base-60:#717171;
$base-50:#8a8a8a;
$base-40:#a3a3a3;
$base-30:#bdbdbd;
$base-20:#d6d6d7;
$base-10:#efefef;
$base-0:#f9f9f9;
$base-inverted:#fff;
$accent-brand:#3b49df;
$accent-brand-darker:#1827ce;
$accent-brand-lighter:#8d95f2;
$accent-brand-a10:rgba(59,73,223,0.1);
$accent-success:#26d9ca;
$accent-success-darker:#1ab3a6;
$accent-success-lighter:#79ece2;
$accent-success-a10:rgba(38,217,202,0.1);
$accent-warning:#ffcf4c;
$accent-warning-darker:#f5b400;
$accent-warning-lighter:#ffe499;
$accent-warning-a10:rgba(255,207,76,0.1);
$accent-danger:#dc1818;
$accent-danger-darker:#c20a0a;
$accent-danger-lighter:#ec5050;
$accent-danger-a10:rgba(220,24,24,0.1);
$header-shadow:rgba(0,0,0,0.1);
$button-outlined-bg-hover:rgba(0,0,0,0.035);
$button-ghost-bg-hover:rgba(0,0,0,0.035);
$button-ghost-inverted-bg-hover:rgba(255,255,255,0.15);